{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-header">
    <h2>Modules Selection</h2>
</div>
<div class="dashboard-cards">
    <!-- Personal Details Card -->
    <div class="card">
        <a href="#">
            <img src="/static/img/EM.png" alt="Personal Details">
            <h4>Employee Management</h4>
        </a>
    </div>

    <!-- Leave Application Card -->
    <div class="card">
        <a href="{{ url_for('leave_application') }}">
            <img src="/static/img/LM.png" alt="Leave Application">
            <h4>Leave Management</h4>
        </a>
    </div>

    <!-- Disciplinary Record Card -->
    <div class="card">
        <a href="#">
            <img src="/static/img/DM.png" alt="Disciplinary Record">
            <h4>Disciplinary Management</h4>
        </a>
    </div>

    <!-- Payroll Card -->
    <div class="card">
        <a href="#">
            <img src="/static/img/PM.png" alt="Payroll">
            <h4>Payroll Management</h4>
        </a>
    </div>

    <!-- Tasks Card -->
    <div class="card">
        <a href="#">
            <img src="/static/img/TM.png" alt="Tasks">
            <h4>Tasks Management</h4>
        </a>
    </div>
</div>
{% endblock %}
